/src
/cache

# Visual Studio
*.user
.vs/
Debug/
Release/

# VIM
*.swp

# tests
tests/uwp-container-boilerplate/microsoft.system.package.metadata
tests/uwp-container-boilerplate/GNUstepUWPTest.exe
